// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: bold;

  > centerbox {
    background: transparent;
    margin: 4px 8px 0px 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  menubutton.clock > button {
    background: #B8C63F;
    border-radius: 0;
    padding: 0 8px;
    margin: 0;
    min-height: 0;
    min-width: 0;
  }

  .clock label {
    color: #1D2021
  }

  .chevron{
    color: #B8C63F;
    margin: 0;
    font-size: 1.0em;
  }
}
