// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: bold;

  > centerbox {
    background: #1D2021;
    border: 2px solid #E0944F;
    border-radius: 10px;
    margin: 0 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  menubutton.clock > button {
    background: #1D2021;
  }

  .clock label {
    color: #B8C63F;
  }
}
