[Unit]
Description=Restart Blue Microphone
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restart-blue-mic.sh

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target multi-user.target
